<!-- <% const root = '../' %>  -->
<%- include('../partials/header') %> 
<h1>All Comments</h1>
<ul>
    <% for (let comment of comments) { %> 
        <li>
            <%= comment.content %> - <strong><%= comment.username %></strong>
            <a href="/comments/<%= comment.id %>">Details</a>
        </li>
    <% } %> 
</ul>
<a href="/comments/new">Write a New Comment</a>
<%- include('../partials/footer') %> 