<%- include('../partials/header') %> 
<h2>Comment ID: <%= comment.id %> </h2>
<h3>Author: <%= comment.username %> </h3>
<h3><%= comment.content %> </h3>
<a href="/comments">Back To Comments</a>
<a href="/comments/<%= comment.id %>/edit">Edit Comment</a>
<form method="POST" action="/comments/<%= comment.id %>?_method=DELETE">
    <button type="submit">Delete</button>
</form>
<%- include('../partials/footer') %> 