<%- include('../partials/header') %> 
<h2>Comment ID: <%= comment.id %> </h2>
<h3>Author: <%= comment.username %> </h3>
<h3><%= comment.content %> </h3>
<a href="/comments">Back to all Comments</a>
<%- include('../partials/footer') %> 